doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title
  body 
    h1 Selamat data di homepage codeturnal.com
    div 
      a(href="/product") Tambah Data 
      ul 
        each data, key in dataDB 
            li 
              span #{data.product_id} - #{data.product_name} - #{data.product_price}
              br 
              a(href="/product/" + data.product_id) edit
              span -
              a(href="/delete/" + data.product_id) delete